body{
    margin: 0%;
    padding: 0%;
    background-color: gray;
    font-family: sans-serif;
    text-align: center;
    color: rgb(13, 196, 123);
}
#winner{
    font-size: 6rem;
    line-height: 0px;
}
#box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    /* background-color: antiquewhite; */
    gap: 50px;
}
.boxes{
    width: 400px;
    height: 400px;
    /* background-color: aqua; */
}
img{
    height: 300px;
    width: 300px;
    /* background-color: aliceblue; */
}
#made{
    font-size: 20px;
    color: white;
}