
img{
    width: 200px;
    height: 200px;
}
.yellow{
    color: yellow;
}
.orange{
    color: orange;
}
.red{
    color: red;
}
.pink{
    color: pink;
}
.pinkish-purple{
    color: #E03ED8;
}
.cyan{
    color: cyan;
}
.blue{
    color: blue;
}
.green{
    color: green;
}
.gray{
    color: lightgray;
}
.black{
    color: black;
}